html{
  font-size: 100%;
}
.wrapper{
    background-color: #dde; 
}
header{
  background-image: url(images/img2.jpg);
  background-size: cover;
  height: 500px;
  box-shadow: 0 0 30px rgba(0,0,0,2.5);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
    
    }
.image{
  border-radius: 100px;
  text-align: center;
  
}
.img{
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 150px;
  box-shadow: 0 0 10px rgba(0,0,0,2.5);
}

.text{
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
}

#name{
  font-family: 'Russo One', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1.5px;  
  padding-bottom: 10px;
  color: #ccc;
  text-shadow: 1px 1px 5px black, 0 0 1em black;
}
#position{
  font-family: 'Righteous', cursive;
  font-size: 2rem;
  letter-spacing: 1.5px;
  color: #ddd;
  text-shadow: 1px 1px 5px black, 0 0 1em black;
}

.container{
  text-align: center;
}
.row{
  
}
.col-md-2{

  padding-right: 0px;
  padding-left: 0px; 

}

#centerText{
  padding-top: 70px; 
  text-transform: uppercase;
  color: #222;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  letter-spacing: 1.5px;
}
.skills{
  margin-top: 30px;
  padding-top: 25px;
}

.level{
  padding: 15px 0px 5px 10px;
  margin-bottom: 35px;
}

.stars{
    font-size: 28px;
 
}
.row{text-align: center;}

footer{
  background-color: #555;
}
.contact{
  font-size:32px;
  margin-top: 140px;
  
}
.icons{
  padding:25px 5px; 
}
.icons,a{
  color: #333;
}
.icons:hover{
  color: #222; 
  transition: 0.3s;  
}
.frameworks{
  margin-top: 50px; 

}
 
.but{
  margin-top: 30px;
  background-color: #666;
  color: #ccc;
  border-radius: 150px;
  padding: 5px 20px;
  border: none;
}
.but:focus{
  outline: none;

}

.but:hover{
  background-color: #444;
  transition: 0.3s;
  text-decoration: none;
  color: #ccc;
}
.box {
transition: all 1s linear;
  
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}
@media(max-width: 1199px){
  .col-md-3{
  margin-left: 45px;
}
@media(min-width: 1199px){
  .boot{
  
  margin-right: 100px;
}

}

@media(max-width: 991px){
  .col-sm-3{
    margin-left: 25px;
  }
.level{
  padding: 15px 0px 5px 15px;
}
  
.stars{
    font-size: 27px;
 
}
}

@media(min-width: 992px){
  .git{
  
  margin-left: 20%;
}

}


.node{
    margin-left: 15%;
  }

}



@media(max-width: 767px){

.col-xs-6{
  text-align: center;
  margin-left: 25%;
  margin-top: 20px;
  
}
.level{
  
  padding: 2rem 0px 2rem 0.3rem;
}

.stars{
    font-size: 2.3rem;
 
}
.svg{
  max-width: 100%;
  height: auto;
}
.contact{
 
  margin-top: 40px;
  
}

}
@media (min-width: 768px) and (max-width: 991px) {
   
   .react, .node{
    margin-top: 20px; 
    margin-left: -20%;
   }
   .ajax{
     margin-top: 10px;
     margin-left: -50%;

   }
   .boot ,.sass{
     margin-top: 30px; 
    margin-left: -35%;
   }
 }

 @media (min-width: 480px) and (max-width: 767px){
  .see{
    max-width: 100%;
    height: auto;
    margin-top: 70px;
  }
    .jq{
      margin-top: 0px;
    }

    .node{
        margin-right: 10%;      
    }
    .react{
      margin-left: 5%;
      margin-top: 25px;
    }
    .gulp{
      margin-top: 25px;
    }
 }

 @media(max-width: 480px){
  header{
  height: 400px;
}
  .img{
  margin-top: 30px;
}  
  .see{
    margin-top: 50px;
    max-width: 100%;
    height: auto;
  }
  .jq{
    margin-top: 0px;
  }
  .node{
    margin-left: -0.1%;
    margin-top: 60px; 
  }
  .ajax{
    margin-top: 70px;
  }
 }